body {
    font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #000;
}
img {
    padding: 0;
    ;
    margin: 0;
}
#slidingpuzzleContainer3x3, #slidingpuzzleContainer3x4, #slidingpuzzleContainer4x3, #slidingpuzzleContainer4x4 {
    position: absolute;
    top: 50px;
    left: 50px;
    border: 10px solid black;
}
#slidingpuzzleContainer3x3 {
    width: 450px;
    height: 450px;
}
#slidingpuzzleContainer3x4 {
    width: 300px;
    height: 400px;
}
#slidingpuzzleContainer4x3 {
    width: 400px;
    height: 300px;
}
#slidingpuzzleContainer4x4 {
    width: 400px;
    height: 400px;
}
.puzzlepiece {
    float: left;
}
#formatContainer {
    position: absolute;
    top: 50px;
    left: 600px;
}
#format {
    margin-top: 10px;
}
